/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-Aug-2017, 2:11:50 PM
    Author     : sebch
*/

@keyframes noautofill {
    to {
        color: #666;
        background: transparent;
        border-color: transparent;
        border-bottom: 1px solid #5f6970;
    }
}

html {
    font-size: 62.5%;
    color: #d0d2d3;
}

body {
    background-color: #202329;
    background-image: url('../images/bottompatternbg.png');
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
}

@font-face {
    font-family: 'frutiger_boldregular';
    src: url('./fonts/frutiger-bold_18817-webfont.woff') format('woff2'),
         url('./fonts/frutiger-bold_18817-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigeritalic';
    src: url('./fonts/frutiger_italic-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerlight';
    src: url('./fonts/frutiger_light-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerroman';
    src: url('./fonts/frutiger_roman-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerblack';
    src: url('./fonts/frutiger_black-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.frutiger-bold {
    font-family: 'frutiger_boldregular'
}

.frutiger-italic {
    font-family: 'frutigeritalic'
}

.frutiger-light {
    font-family: 'frutigerlight'
}

.frutiger-roman {
    font-family: 'frutigerroman'
}

.frutiger-black {
    font-family: 'frutigerblack'
}

.font-22 {
    font-size: 2.2rem;
}

.font-24 {
    font-size: 2.4rem;
}

.font-26 {
    font-size: 2.6rem;
}

.font-28 {
    font-size: 2.8rem;
}

.font-32 {
    font-size: 3.2rem;
}

.font-42 {
    font-size: 4.2rem;
}

.font-48 {
    font-size: 4.8rem;
}

.btn-rounded-pg {
    font-family: 'frutiger_boldregular';
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 1.5rem 8rem;
    border-radius: 50px;
}

.btn-rounded-small-pg {
    font-family: 'frutiger_boldregular';
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 1.2rem 8rem;
    border-radius: 50px;
}

/** Navbar **/
#container nav {
    padding: 4px 42px;
    background-color: #343940;
}

.navbar-title {
    border-left: 1px solid #d0d2d3;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #d0d2d3;
}

.navbar-light .navbar-nav .nav-link {
    color: #d0d2d3;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:active {
    color: #ffffff;
    background-color: transparent;
    border: 0;
}

/** Login Panel **/
.pg-login .card .form-group input {
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid #5f6970;
}

.pg-login .card input:-webkit-autofill {
    animation-name: noautofill;
    animation-fill-mode: both;
    -webkit-animation-name: noautofill;
    -webkit-animation-fill-mode: both;
}

.pg-login .card {
    margin-top: 200px;
    background-color: transparent;
}

.pg-login .card h1 {
    color:  #9cdaeb;
}

.pg-login .card label {
    color:  #bbbdbf;
}

.pg-login .card-block > h1,
.pg-login .card-block > form > .form-group {
    margin-bottom: 40px;
}

.pg-login .card-block > h2 {
    margin-bottom: 75px;
}

.pg-login .item-message {
    margin-bottom: 20px;
}

/** Sessions Panel **/
.pg-session-ct h1 {
    color:  #9cdaeb;
}

.pg-sessions .session-item {
    padding: 20px;
    margin: 8px 0;
    color: #d0d2d3;
    background-color: transparent;
    font-family: 'frutigerlight';
}

.pg-sessions .session-item:hover {
    color: #ffffff;
    background-color: #007bff;
    font-family: 'frutiger_boldregular';
}

.sessions-list-ct {
    max-height: 100%;
    padding: 20px 60px;
}

.pg-offscript-sessions {
    flex: 1;
}

.pg-offscript-sessions .mCustomScrollBox,
.pg-sessions .mCustomScrollBox {
    width: 100%;
    min-height: 700px; /** arbitrary **/
    padding: 20px 40px; 
}

.pg-offscript-sessions .mCSB_container {
    overflow: visible;
}

.btn-session,
.btn-session:focus,
.btn-session:active {
    padding: 20px;
    margin: 8px 0;
    color: #d0d2d3;
    background-color: transparent;
    font-family: 'frutigerlight';
    border-color: transparent;
    text-align: left;
}

.btn-session:hover {
    padding: 20px;
    margin: 8px 0;
    color: #ffffff;
    background-color: #007bff;
    font-family: 'frutiger_boldregular';
    border-color: #007bff;
    text-align: left;
}

/** pg-session container **/
.pg-session-ct {
    height: 100%;
}

/** SLIDES GRID DISPLAY **/
.pg-slide-display-cards {
    list-style-type: none;
    width: 100%;
    padding: 30px 0 0 20px;
    margin: 0;
}

.pg-slide-display-cards li {
    /* height: 221px;
    width: 357px; */
    margin: 0 17px 45px 0;
    padding: 25px 0 15px 0;
    float: left; 
    font-size: 4em; 
    text-align: center;
    color: #000000;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.cards-x-6 li > .pg-slide-item-ct {
    height: 175px;
    width: 283px;
}

.cards-x-5 li > .pg-slide-item-ct {
    height: 221px;
    width: 357px;
}

.cards-x-4 li > .pg-slide-item-ct {
    height: 275px;
    width: 445px;
}

.cards-x-3 #sortable {
    width: 1549px;
}

.cards-x-3 li > .pg-slide-item-ct {
    height: 300px;
    width: 486px;
}

.cards-x-2 #sortable {
    width: 1370px;
}

.cards-x-2 li > .pg-slide-item-ct {
    height: 400px;
    width: 648px;
}

.cards-x-1 li > .pg-slide-item-ct {
    height: 221px;
    width: 357px;
}

.slide-number {
    position: absolute;
    left: 50%;
    /* top: -15px; */
    color: #929497;
}

.pg-subnav {
    padding: 16px 42px;
    background-color: transparent;
}

.pg-subnav h2 {
    color: #ffffff;
}

.session-title {
    white-space: nowrap; 
    width: 550px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.pg-dropdown {
    border-bottom: 1px solid #d0d2d3;
    min-width: 450px;
}

.pg-dropdown button,
.pg-dropdown button:hover,
.pg-dropdown button:active,
.pg-dropdown button:focus {
    color: #d0d2d3;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
}

.pg-dropdown .dropdown-menu {
    background-color: #202329;
    border-color: #d0d2d3;
    width: 98%;
}

.pg-dropdown .dropdown-item {
    color: #d0d2d3;
    border: 0;
    padding: 5px 12px;
}

.pg-dropdown .dropdown-item:hover {
    background-color: #202329;
    color:  #0099ff;
    border: 0;
}

.leader-btn-label {
    color: #d0d2d3;
    margin: 0 8px 0 0;
}

.slide-ct {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
    flex: 1;
}

.slide-ct > div {
    margin-top: 20px;
}

img.notes-icon {
    height: 75px;
    position: absolute;
    right: 45px;
    margin-top: 34px;
    mix-blend-mode: difference;
}

img.light-icon {
    height: 75px;
    position: absolute;
    right: 0;
    margin-top: 34px;
    mix-blend-mode: difference;
}

img.video-icon {
    height: 75px;
    position: absolute;
    left: 0;
    margin-top: 34px;
    mix-blend-mode: difference;
}

img.not-selected-icon {
    height: 50px;
    position: absolute;
    right: 8px;
    bottom: 0;
    mix-blend-mode: difference;
}

.selected-icon-ct {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 8px;
    bottom: 0;
    background-image: url('../images/thumbnail-not-selected@2x.png');
    mix-blend-mode: difference;
    background-size: contain;
}

.is-selected .selected-icon-ct {
    background-image: url('../images/thumbnail-selected-to-move@2x.png');
    mix-blend-mode: normal;
}

.card-img {
    margin-top: 32px;
    background-color: transparent;
    height: 100%;
}

.is-displaying .card-img {
    border: 8px solid red;
}

.is-grouped .card-img {
    border: 8px dashed #0099ff;
}

/** Modal **/
.modal-content {
    padding: 80px;
    background-color: #343940;
    width: 750px;
}

.modal-title {
    color: #9cdaeb;
    text-transform: uppercase;
}

.modal-body {
    color: #d0d2d3;
}

.modal-footer {
    border: 0;
    border-color: transparent;
}

/** Play Bar **/
#container footer {
    padding: 16px 42px;
    background-color: #343940;
}
.btn-rounded-small-pg {
    font-family: 'frutiger_boldregular';
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 1.2rem 8rem;
    border-radius: 50px;
}
footer .controls {
    width: 24rem;
}
footer .controls button {
    background-color: transparent;
    border: 0;
    font-size: 5.2rem;
    color: #d0d2d3;
    cursor: pointer;
}

footer .controls button[disabled] {
    opacity: .3;
}

/** stopwatch **/
.pg-stopwatch button {
    font-size: 3rem;
    padding: 0;
    background-color: transparent;
    color: #d0d2d3;
    border: 0;
}

.pg-btn-stopwatch-toggle {
    margin: 0 2rem 0 0;
}

button.pg-stopped {
    color: red;
}

.pg-stopped + .pg-time-display {
    color: red;
}

.pg-btn-stopwatch-clear {
    margin: 0 0 0 2rem;
}

.pg-time-display {
    color: #9cdaeb;
    width: 195px;
}

/** speaker-notes-container **/
.speaker-notes-container {
    padding: 8px;
    height: 275px;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.notes-title {
    color: #bbbdbf;
    text-transform: uppercase;
}

.speaker-notes {
    color: #d0d2d3;
}

/** mode tabs **/
#pg-mode-tabs {
    padding-bottom: 16px; 
}

#pg-mode-tabs > * {
    width: 33%;
    text-align: center;
    display: inline-block;
}

#pg-mode-tabs > * + * {
    border-left: 1px solid #929497;
}

#pg-mode-tabs > div > * {
    font-size: 3.2rem;
    font-family: 'frutigerblack';
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

#pg-mode-tabs > div > span {
    opacity: .3;
}

#pg-mode-tabs > div > span.active-tab {
    border-bottom: 6px solid #0099ff;
    opacity: 1;
}

#pg-mode-tabs > div > a {
    text-decoration: none;
    color: #ffffff;
    border: 0;
}

#pg-mode-tabs > div > a:hover {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 6px solid #0099ff;
}

/** display mode tabs **/
#pg-display-mode-ct {
    padding: 0px 42px 16px 42px;
}

.display-grid-icon-ct {
    width: 50px;
    height: 50px;
    margin: 0 28px 0;
    background-image: url('../images/grid-pressed@2x.png');
    background-size: contain;
    cursor: pointer;
}

.layout-mode-selected .display-grid-icon-ct {
    background-image: url('../images/grid@2x.png');
}

.display-layout-icon-ct {
    width: 50px;
    height: 50px;
    background-image: url('../images/full-screen@2x.png');
    background-size: contain;
    cursor: pointer;
}

.layout-mode-selected .display-layout-icon-ct {
    background-image: url('../images/full-screen-pressed@2x.png');
}

/** OFFSCRIPT PAGE **/
.offscript-area-select-modal-content {
    width: 900px;
    padding: 80px;
}

.area-select-ct .selectric {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #929497;
}

.area-select-ct .selectric .label {
    font-size: 2.6rem;
    font-family: 'frutigerroman';
    color: #d0d2d3;
    width: 400px;
}

.area-select-ct .selectric .button {
    background-color: transparent;
    border: 0;
    color: #d0d2d3;
}

.area-select-ct .selectric-items {
    background-color: #202329;
    border: 1px solid  #929497;
}

.area-select-ct .selectric-items li {
    font-size: 2.6rem;
    font-family: 'frutigerroman';
    color: #d0d2d3;
}

.area-select-ct .selectric-items li.highlighted,
.area-select-ct .selectric-items li.selected,
.area-select-ct .selectric-items li:hover {
    background-color: #202329;
    border: 0;
    color:  #0099ff;
}

/** Volume Bar **/
.pg-btn-hi {
    background-color: transparent;
    border: 0;
    margin: 0 0 0 16px;
    background-image: url('../images/volume-high@2x.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 52px;
    width: 52px;
    cursor: pointer;
}

.pg-btn-lo {
    background-color: transparent;
    border: 0;
    margin: 0 80px 0 0;
    background-image: url('../images/volume-low@2x.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.volume {
    position:relative;
    cursor:pointer;
    /* width:100%; */
    width: 272px;
    height:12px;
    background-image: url('../images/volume-level@2x.png');
}
.volumeBar {
    display:block;
    height:12px;
    position:absolute;
    top:0;
    left:0;
    /* background-color:#888; */
    z-index:10;
    width: 0;
    background-image: url('../images/volume-level-active@2x.png');
}
.volume3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100px;
    border-color: transparent transparent #007bff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #007bff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

/** configure frame details **/
.pg-configure-frame-details {
    background: transparent;
    border: 0;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 30px;
    mix-blend-mode: difference;
    color: #ffffff;
    cursor: pointer;
}

.pg-configure-frame-details:hover {
    color: #0099ff;
    mix-blend-mode: normal;
}

/** custom control indicators **/
.custom-control-indicator {
    height: 32px;
    width: 32px;
    background-image: url('../images/thumbnail-not-selected@2x.png');
    background-size: contain;
    display: inline-block;
    background-position: center;
}

input:checked + .custom-control-indicator {
    background-image: url('../images/thumbnail-selected-to-move@2x.png');
    background-size: contain;
}

.custom-control-description {
    padding-top: 4px;
}

/** Frame Editor Modal **/
.modal-lg {
    max-width: 900px;
}

.frame-editor-modal-content {
    padding: 40px;
    background-color: #343940;
    width: 900px;
}

.frame-editor-modal-content .modal-title {
    color: #9cdaeb;
    text-transform: uppercase;
}

.frame-editor-modal-content .modal-body {
    color: #d0d2d3;
}

.frame-editor-modal-content .modal-footer {
    border: 0;
    border-color: transparent;
}

.pg-details-editor-content .card-header {
    background-color: #6c757d;
    border-bottom: 1px #d0d2d3 solid; 
}

.pg-details-editor-content .card-header button {
    color: #d0d2d3;
    background-color: transparent;
}

.pg-details-editor-content .card-header button:hover,
.pg-details-editor-content .card-header button:focus {
    text-decoration: none;
    color: #0099ff;
}

.pg-details-editor-content .card-body {
    background-color: #343940;
}

.pg-details-editor-content textarea {
    width: 100%;
    height: 300px;
}

