.switch {
position: relative;
display: inline-block;
width: 90px;
height: 51px;
}

.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 39px;
width: 39px;
left: 6px;
bottom: 6px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #00AD63;
}

input:focus + .slider {
box-shadow: 0 0 1px #00AD63;
}

input:checked + .slider:before {
-webkit-transform: translateX(39px);
-ms-transform: translateX(39px);
transform: translateX(39px);
}

/* Rounded sliders */
.slider.round {
border-radius: 51px;
}

.slider.round:before {
border-radius: 50%;
}
